*{
    box-sizing: border-box;
}

body{
    /* background-color: rgb(161, 100, 223); */
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* height: 70vh; */
    overflow: hidden;
    margin: 0;
}
.container{
    display: flex ;
    width: 100vw;
}
img{
    background-size: auto ;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    width: 32vh;
    border-radius: 50px;
    cursor: pointer;
    flex: .05;
    margin: 1px;
    position: relative;
    transition: flex 0.7s ease-in;

    
}
.btn{
    background-color: rgb(21, 4, 37);
    border-radius: 50px;
    border: none;
    width: 29vh;
    color: #fff;
    margin: 5px 1rem;
    /* margin-left: 0; */
    padding: 1.5rem 3rem;
    font-size: 1.2rem ;
    font-family: inherit;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.9;
}

.btn:focus{
    outline: none;
}

.image{
    width: 100%;
    height: auto;
}